.invalid-feedback {
  display: block !important;
}

.btn-loading {
  color: transparent !important;
  pointer-events: none;
  position: relative;

  &:after {
    content: '';
    animation: loader 500ms infinite linear;
    border: 2px solid #fff;
    border-radius: 50%;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    display: block;
    height: 1.4em;
    width: 1.4em;
    position: absolute;
    left: calc(50% - (1.4em / 2));
    top: calc(50% - (1.4em / 2));
    transform-origin: center;
    position: absolute !important;
  }

  &.btn-sm:after{
    height: 1em;
    width: 1em;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
  }
}

