<div class="register-page">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="https://demos.creative-tim.com/blk-design-system/index.html" rel="tooltip" title="Designed by Creative Tim" data-placement="bottom" target="_blank">
          <span>BLK•</span> Design System
        </a>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper">
    <div class="page-header">
      <div class="page-header-image"></div>
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <div id="square7" class="square square-7"></div>
              <div id="square8" class="square square-8"></div>
              <div class="card card-register">
                <div class="card-header">
                  <img class="card-img" src="../assets/img/square1.png" alt="Card image">
                  <h4 class="card-title">Register</h4>
                </div>
                <div class="card-body">
                  <div *ngIf="singleError" class="alert alert-icon alert-warning mb-5" role="alert">
                    <i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i> {{ singleError }}
                  </div>
                  <form class="form">
                    <div class="input-group">
                      <div *ngIf="formErrors && formErrors['name'] && formErrors['name'][0]" class="invalid-feedback">
                        {{ formErrors['name'][0] }}
                      </div>
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-single-02"></i>
                        </div>
                      </div>
                      <input type="text" [(ngModel)]="user.name" class="form-control" placeholder="Full Name" name="name">
                    </div>
                    <div class="input-group">
                      <div *ngIf="formErrors && formErrors['email'] && formErrors['email'][0]" class="invalid-feedback">
                        {{ formErrors['email'][0] }}
                      </div>
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-email-85"></i>
                        </div>
                      </div>
                      <input type="text" [(ngModel)]="user.email" placeholder="Email" class="form-control" name="email">
                    </div>
                    <div class="input-group">
                      <div *ngIf="formErrors && formErrors['password'] && formErrors['password'][0]" class="invalid-feedback">
                        {{ formErrors['password'][0] }}
                      </div>
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-lock-circle"></i>
                        </div>
                      </div>
                      <input type="password" class="form-control" [(ngModel)]="user.password"  placeholder="Password" name="password">
                    </div>
                  </form>
                </div>
                <div class="card-footer">
                  <div *ngIf="callbackUser" class="feedback">
                    {{ callbackUser.email }} registered successfully. Please verify your email.
                  </div>
                  <button (click)="performRegistration()" class="btn btn-info btn-round btn-lg" [class.btn-loading]="formLoading" [disabled]="formLoading">Register</button>
                  <br/>
                  <br/>
                  <a routerLink="/login">I already have an account</a>
                </div>
              </div>
            </div>
          </div>
          <div class="register-bg"></div>
          <div id="square1" class="square square-1"></div>
          <div id="square2" class="square square-2"></div>
          <div id="square3" class="square square-3"></div>
          <div id="square4" class="square square-4"></div>
          <div id="square5" class="square square-5"></div>
          <div id="square6" class="square square-6"></div>
        </div>
      </div>
    </div>
  </div>
</div>
