<div class="wrapper">
  <div class="page-header">

    <div class="content-center">
      <div class="row row-grid justify-content-between align-items-center text-center">
        <div class="col-lg-12 col-md-12" *ngIf="loading">
          <h1 class="text-white">Verifying account
          </h1>
        </div>
        <div class="col-lg-12 col-md-12" *ngIf="!loading && user">
          <h1 class="text-white">Account verified
          </h1>
          <p class="text-white mb-3">Your account has been verified. You can now <a routerLink="/login">login</a>.</p>
        </div>
        <div class="col-lg-12 col-md-12" *ngIf="!loading && !user">
          <h1 class="text-white">Something went wrong
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
